<div class="puzzle-container">
  <h1 class="title">Solve this to bless your eyes with your favorite kind of picture!!</h1>
  <p style="padding-bottom: 50px">PS: This picture was taken by you 😉</p>

  <div class="puzzle-grid">
    <div
      *ngFor="let tile of tiles; let i = index"
      class="tile"
      [class.empty]="tile.imageUrl === null"
      [ngStyle]="getTileStyle(tile)"
      (click)="moveTile(i)">
      <img *ngIf="tile.imageUrl" [src]="tile.imageUrl" alt="Tile" />
    </div>
  </div>

  <button class="continue-button" (click)="navigateToFriends()">
    I'm satisfied, let's move on
  </button>
</div>
