<div class="congratulations-container">
  <!-- Floating emojis background -->
  <div class="emoji-background">
    <span *ngFor="let emoji of emojis; let i = index"
          class="floating-emoji"
          [style]="getRandomPosition(i)">
      {{ emoji }}
    </span>
  </div>

  <div class="content">
    <h1 class="title">VICTORY!!!</h1>
    <h2 class="subtitle">Congratulations, time to celebrate!</h2>

    <!-- Hidden puzzle clue -->
    <div class="hidden-clue">
      <div class="puzzle-elements">
        <img src="whitelotus.png" alt="White Lotus" class="lotus-image" title="White Lotus">
        <span class="minus-sign">-></span>
        <span class="pink-text">BLACK</span>
      </div>
    </div>
  </div>
</div>
