<div class="main-container">
  <h1>📜 Your Adventure Awaits!! 📜</h1>
<!--  WELCOME TO THE SOURCE! To progress, change the URL to the answer of the below riddle. -->
<!--  I have keys, but open no locks. I have a staff, but no employees. I have a beat, but no heart. -->
  <div class="message">
    {{ message }}
  </div>
  <div class="message" style="font-weight: bold; font-size: 110%">
    Don't take this lightly, to solve these riddles you'll have to go to the source of it.
    Don't worry I'll console you if you can't figure it out 😉
  </div>
</div>
